:root {
    --bg: #38373d;
    --bg-form: #58575c;
    --font: #ffffff;
    --link-blue: #7eb2ff;
}


body,
a,
input {
    font-family: 'Roboto', sans-serif;
    color: var(--font);
}

body {
    background-color: var(--bg);
}

a {
    color: var(--link-blue);
}

.container {
    padding: 20px 8px;
}

.top-link-box {
    display: flex;
    align-items: end;
    justify-content: right;
    flex-direction: column;

    gap: 12px;
    margin-top: 20px;
    margin-right: 20px;
}

.main-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 32px;
}

.search-icon {
    fill: var(--font);
    width: 24px;
    height: 24px;
}

.main-form {
    display: flex;
    gap: 0;
    flex-direction: column;
    /* justify-content: center; */
}

.searchbar {
    width: 240px;
    border-radius: 8px;
    background-color: var(--bg-form);
    padding: 4px 16px;
    height: 38px;
    border: none;
    margin: 0;
}

.btn {
    font-size: 14px;
}

.searchdiv {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
    display: flex;
}

.lucky-btn {
    width: fit-content;
    margin: auto;
}

/* ? tablet */
@media (min-width: 481px) and (max-width: 767px) {
    .searchbar {
        width: 400px;
    }

    .title {
        font-size: 100px;
    }

    .top-link-box {
        flex-direction: row;
        gap: 12px;
    }
}

/* ? desktop ? */
@media (min-width: 760px) and (max-width: 1199px) {
    .searchbar {
        width: 400px;
    }

    .title {
        font-size: 100px;
    }

    .top-link-box {
        flex-direction: row;
        gap: 20px;
    }
}